* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wendy One", sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #701fc0;
    color: #fff;
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #280056;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #df5e1e;
}

.imgCarrossel {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.container h2 {
    text-align: center;
    font-size: 30px;   
}

.container p {
    text-align: center;
}

.sobre h2 {
    font-family: "Wendy One", sans-serif;
    color: darkmagenta;
}

.menu-cardapio-itens {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.menu-cardapio-item {
    border: 2px solid plum;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgb(254, 155, 215, 0.5);
}

.menu-cardapio h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Wendy One", sans-serif;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
}
